<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
  </head>

  <body>
    <div id="board">
      <transition-group class="container" name="card">
        <card
          :card="card"
          :key="card.id"
          @click-card="clickCard"
          class="card"
          v-for=" card in cards"
        ></card>
      </transition-group>
      <div class="board__panel">
        <div class="board__points">{{this.points}}</div>
        <button @click="restartGame" class="board__reset">Restart</button>
      </div>
      <div v-if="points === 6" class="win">You win!</div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="index.js"></script>
  </body>
</html>
